<h1><%= @artist.name %></h1>
<ul>
  <% @artist.songs.each do |song| %>
    <li><%= song.title %></li>
    <a href = "/artists/<%=@artist.id%>/songs/<%= song.id %>"><%=song.title%></a>
  <% end %>
</ul>
