<% if song.artist %>
<li><%= display_artist(song) %> - <%= link_to song.title, artist_song_path(song.artist, song) %></li>
<li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
<% else %>
<li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
<% end %>
