<ul>
<% @songs.each do |song| %>

  <!-- deleted code -->
  <li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>

  <!--
  https://learn.co/tracks/full-stack-web-development-v8/module-13-rails/section-10-routes-and-resources/routing-and-nested-resources-lab
  In the songs#index action, if the artist can't be found, redirect to the
  index of artists, and set a flash[:alert] of "Artist not found."
  -->
  <!-- new code -->
  <li><%= link_to song.title, song_path(song) %> - <%= display_artist(song) %></li>


<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>
